
@font-face{
    font-family: 'Coolvetica';
    font-weight: 400;
    src: url("../Fuentes/coolvetica-regular.ttf");
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
h1{
    font-family: 'Coolvetica';
    font-weight: 400;
    font-size: 120px;
    color: #0a2ff1;
    text-align: center;
}
div{
    background-color: #eff2ff;
    width: 20%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}
main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em;
}
h2{
    font: 900 30px 'Roboto', sans-serif;
    color: #0a2ff1;
    text-align: center;
    margin-bottom: 0;
}
p{
    font-size: 400 24px 'Roboto', sans-serif;
    color:  #04146c;
    text-align: center;
}
.iconos{
    width: 25%;
}
#icono-apple{
    width: 18%;
}