@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;900&display=swap');
body{
    font-family: 'Mulish', sans-serif;
}
h1{
    font-size: 53px;
    font-weight: 900;
    margin: 0;
}
p{
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    margin: 0;
}
h1, p{
    color: #04146c;
}
header{
    border-bottom: 2px solid #04146c;
}
img{
    width: 30%;
}
main{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
div{
    text-align: center;
    margin-top: 20px;
}