/*
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.item{
    background-color: rgb(166, 255, 255);
    width: 200px;
    height: 200px;
    text-align: center;
}
   
    PROPIEDADES QUE NOS HABILITA EL POSITION
    top: arriba;
    bottom: abajo;
    right: derecha;
    left: izquierda;

    es una excepcion, no es una regla
    es para usar en elementos especificos
    
    Z-INDEX: es la profundidad/superposicion de nuestros elementos
    
.item-relative{
    background-color: rgb(255, 195, 173);
    position: relative;
    bottom: 40px;
    left: 40px;         toma los margin de los div anteriores
    z-index: 3;         se suele trabajar con numeros positivos
}
.item-absolute{
    background-color: blueviolet;
    position: absolute;
    top: 62px;
    left: 179px;
                    no va a tomar como referencia a los div de arriba, 
                    sino va a tomar como parametro a nuestra pantalla
    z-index: 2;
}
.item-fixed{
    background-color: gold;
    position: fixed;
    top: 0;
    left: 0; 
    z-index: 1;
}
*/

/*GRID*/
.container{
    /*aplicamos GRID*/
    display: grid;
    /*
    Enumeramos las columnas
    se puede usar fraction ó %, px
    fr se creó para ser utilizada en Grid
    */
    grid-template-columns: repeat(5, 2fr); /*esa es la forma corta de hacerlo, primero se
    indican la cantidad de columnas y segundo su ancho, 
    otra forma de hacerlo: grid-template-columns: 150px 150px 250px 150px*/

    /*
    Enumeramos las filas
    se puede usar fraction ó %, px
    */
    grid-template-rows: repeat(4, 150px);
    /*especificamos nombres para cada item*/
    grid-template-areas: 
    "nav header header header header"
    "nav article1 article1 article1 aside"
    "nav article2 article2 article2 aside"
    "nav footer footer footer footer"
    ;
    /*especificamos espacios*/
    /*especificamos areas vacias con "empty"*/
    row-gap: 15px; 
    column-gap: 15px;
   /* este atributo grid-column-gap quedó obsoleto*/
}
.header{
    background-color: hotpink;
    grid-area: header;
}
.nav{
    background-color: bisque;
    grid-area: nav;
}
.article1{
    background-color: rgb(124, 124, 253);
    grid-area: article1;
}
.article2{
    background-color: rgb(206, 255, 157);
    grid-area: article2;
}
.aside{
    background-color: brown;
    grid-area: aside;
}
.footer{
    background-color: rgb(253, 253, 125);
    grid-area: footer;
}