.container{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(4, 100px);
    grid-template-areas: 
    "empty empty header"
    "nav1 article1 aside"
    "nav2 article2 aside"
    "footer footer2 footer2"
    ;
    row-gap: 20px; 
    column-gap: 20px;
}
.header{
    background-color: hotpink;
    grid-area: header;
}
.nav1{
    background-color: bisque;
    grid-area: nav1;
}
.nav2{
    background-color: darkgray;
    grid-area: nav2;
}
.article1{
    background-color: rgb(124, 124, 253);
    grid-area: article1;
}
.article2{
    background-color: rgb(206, 255, 157);
    grid-area: article2;
}
.aside{
    background-color: brown;
    grid-area: aside;
}
.footer{
    background-color: rgb(253, 253, 125);
    grid-area: footer;
}
/*Tuve que armar este footer2 porque el empty hacia que se me rompa*/
.footer2{
    background-color: transparent;
    grid-area: footer2;
}